server.crt
server.key
.env
.local/
.DS_Store
test-output.xml
env/
env2*
env3*
*.pem
*.mtz
*.code-workspace
*coverage*
htmlcov
junit
build
dist
.idea
.vscode
*.pyc
.venv
.ipynb_checkpoints
.agents
skills-lock.json
